header {}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background-color: #FFFFFF;
}

.header-nav,
.nav-list,
.list-cont {
    display: flex;
    flex-wrap: wrap;
}

.nav-list {
    margin-right: 332px;
}

.link {
    position: relative;
    display: block;
}

.link,
.link-cont {
    padding: 24px 0;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current-link::after {
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;

    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
}

.link.current-link {
    position: relative;
    color: #404BBF;
}

.header-nav {
    display: flex;
    gap: 76px;
    align-items: center;
}

.nav-list,
.list-cont {
    gap: 40px;
}

.accent-text-logo {
    color: #4D5AE5;
}

.logo {
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.nav-list .link {
    display: block;
    text-decoration: none;
    list-style-type: none;
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link:hover,
.link:focus,
.link-cont:hover,
.link-cont:focus,
.link.current-link {
    color: #404BBF;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Roboto, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    /*min-width: 100%;*/
    /*height: auto;*/
}

.list-cont .link-cont {
    text-decoration: none;
    list-style: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
}

.section-hero {
    color: #FFFFFF;
    background-color: #2E2F42;
    text-align: center;
    width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-image: linear-gradient(
    to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)
    ), url("../images/hero/people-office-desk-2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-hero-btn {
    margin: 0 auto;
}

.cta-btn {
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cta-btn:hover,
.cta-btn:focus {
    background-color: #404BBF;
}

h1 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto 48px;
}


    /*___________________________ */

.section-features {
    padding: 120px 0;
}

.feature-container {}

.text-features {
    text-align: left;
}

.list-feature {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card-text {
    display: block;
    margin-right: 24px;
    flex: 0 0 calc((100% - 72px) / 4);
}

.card-icon {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 264px;
    height: 112px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

.icon {}

.card-text:last-child {
    margin-right: 0;
}

/*_________________ section team________________*/

.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-container {
    display: flex;
    flex-direction: column;
}

.text-team-h2 {
    display: block;
    text-align: center;
    margin-bottom: 72px;
}

.text-team-h3,
.text-team {
    text-align: center;
}

.list-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.card-team {
    background-color: #FFFFFF;
    display: block;
    max-width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow:
            0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info {
    padding: 32px 16px;
}

.text-team-h2,
.text-portfolio-h2 {
    font-family: Roboto, sans-serif;
    color: #2e2f42;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}


.text-team-h3,
.text-portfolio-h3 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-features,
.text-team,
.text-portfolio {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.list-social-links {
    display: flex;
    gap: 24px;
    margin-top: 8px;
}

.scl-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height:  40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #F4F4FD;
}

.scl-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scl-icon {
    fill: #f4f4fd;
}

.scl-link:hover,
.scl-link:focus {
    background-color: #404bbf;
}

.text-features-h3,
.text-team-h3,
.text-portfolio-h3 {
    margin-bottom: 8px;
}

/*_________________ section portfolio________________*/


.section-portfolio {
    padding: 120px 0;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
}

.text-portfolio {
    text-align: left;
}

.list-portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px 24px;
    margin: 0 auto;
}

.card-portfolio {
    display: block;
    width: 360px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-portfolio:hover .overlay,
.card-portfolio:focus .overlay {
    transform: translateY(0%);
}

.overlay p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.card-portfolio:hover,
.card-portfolio:focus {
    box-shadow: 0 2px 1px 0 rgba(46,47,66,0.08), 0 1px 1px 0 rgba(46,47,66,0.16), 0 1px 6px 0 rgba(46,47,66,0.08);
}


/*_________________ footer________________*/

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-subscribe {
    margin-left: auto;
}

.logo-footer {
    color: #F4F4FD;
}

.text-footer {
    padding-top: 16px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-info {
    display: block;
    min-width: 264px;
    margin-right: 120px;
}

.scl-media-bloc {
    margin-right: 80px;
}

.text-scl-links,
.text-subscribe {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.footer-list-social-links {
    display: flex;
    gap: 16px;
}

.scl-link-footer:hover,
.scl-link-footer:focus {
    background-color: #31D0AA;
}

.form {
    display: flex;
    flex-direction: row;
    max-width: 463px;
    gap: 24px;
}

.form-input {
    font-family: inherit;
    font-size: 12px;
    line-height: 2;
    padding: 8px 16px;
    letter-spacing: 0.04em;
    min-height: 40px;
    outline: none;

    background-color: #2e2f42;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 264px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input::placeholder {
    color: #ffffff;
    font-weight: 400;
}

.form-input:hover,
.form-input:focus {
    border-color: #31D0AA;
}


.footer-form-btn {
    font-family: inherit;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    display: inline-flex;

    padding: 8px 24px;
    gap: 16px;
    cursor: pointer;
    border: unset;

    border-radius: 4px;
    max-width: 165px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #31D0AA;
}

.icon-btn {
    fill: #FFFFFF;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    padding: 72px 24px 24px;
}

.modal-btn-close {
    border-radius: 50%;
    background-color: rgba(231, 233, 252, 1);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition:
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    background-color: #404BBF;
    border: none;

}

.icon-btn-close {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover .icon-btn-close,
.modal-btn-close:focus .icon-btn-close {
    fill: #ffffff;
}

.modal-tittle {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

    color: #2E2F42;
    max-width: 408px;
    margin-bottom: 16px;
}

.modal-form {}


.modal-field {
    margin-bottom: 8px;
}

.modal-field-comment {
    margin-bottom: 16px;
}


.modal-label {
    display: block;
    margin-bottom: 4px;

    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: #8e8f99;

}

.modal-input-wrapper{
    position: relative;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: #2E2F42;
    padding-left: 38px;
    padding-right: 16px;
    outline: none;

    font-family: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
    position: absolute;
    fill: #2E2F42;
    transform: translateY(-50%);
    top: 50%;
    left: 16px;
    pointer-events: none;
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus + .modal-input-icon {
    fill: #4d5ae5;
}

.modal-text-area {
    height: 120px;
    width: 100%;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

    resize: none;
    outline: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area::placeholder {
    color: rgba(46, 47, 66, 0.4);
    opacity: 0.5;
}

.modal-text-area:focus {
    border: 1px solid #4d5ae5;
}


.checkbox-field {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.modal-check-label {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.17;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    position: relative;
}

.modal-link {
    color: #4d5ae5;
    text-decoration: underline;
    text-decoration-skip-ink: none;

    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
}

.checkbox:checked +.modal-check-label span {
    background-color: #404BBF;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .modal-check-label span .custom-checkbox-icon {
    opacity: 1;
}

.custom-checkbox-icon {
    fill: #ffffff;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-label span {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    margin-right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    fill: transparent;
    background-color: transparent;
    transition:
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-box {
    display: flex;
    justify-content: center;
}

.btn-send {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
    border: none;

    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover,
.btn-send:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*@media screen and (min-width: 360px) {*/
/*    .container {*/
/*        max-width: 320px;*/
/*        padding: 0 15px;*/
/*        margin: 0 auto;*/
/*    }*/



/*    .section-features {*/
/*        padding: 96px 16px;*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        justify-content: center;*/
/*        align-items: center;*/

/*    }*/

/*    .text-features-h3,*/
/*    .text-team-h3,*/
/*    .text-portfolio-h3 {*/
/*        font-family: Roboto, sans-serif;*/
/*        font-weight: 700;*/
/*        font-size: 36px;*/
/*        line-height: 1.11;*/
/*        letter-spacing: 0.02em;*/
/*        color: #2e2f42;*/
/*    }*/

/*    .text-features,*/
/*    .text-team,*/
/*    .text-portfolio {*/
/*        font-family: Roboto, sans-serif;*/
/*        font-weight: 500;*/
/*        font-size: 16px;*/
/*        line-height: 1.5;*/
/*        letter-spacing: 0.02em;*/
/*        color: #434455;*/

/*    }*/


/*    .text-features-h3 {*/
/*        text-align: center;*/
/*    }*/

/*    .text-features {*/
/*        text-align: left;*/
/*    }*/

/*    .card-icon {*/
/*        display: none;*/
/*    }*/





/*}*/

/*@media screen and (min-width: 768px) {*/
/*    .container {*/
/*        max-width: 768px;*/
/*    }*/

/*    .section-features {*/
/*        padding: 96px 0;*/
/*    }*/




/*}*/

/*@media screen and (min-width: 1158px) {*/
/*    .container {*/
/*        max-width: 1158px;*/
/*    }*/


/*    .section-features {*/
/*        padding: 120px 0;*/
/*    }*/

/*    .list-feature {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        flex-wrap: wrap;*/
/*        margin: 0 auto;*/
/*    }*/

/*    .card-text {*/
/*        display: block;*/
/*        gap: 72px;*/
/*        margin-right: 24px;*/
/*        flex: 0 0 calc((100% - 72px) / 4);*/
/*    }*/

/*    .card-icon {*/
/*        display: flex;*/
/*        border: 1px solid #8E8F99;*/
/*        border-radius: 4px;*/
/*        width: 264px;*/
/*        height: 112px;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        background-color: #f4f4fd;*/
/*        margin-bottom: 8px;*/
/*    }*/

/*    .text-features-h3 {*/
/*        font-weight: 500;*/
/*        font-size: 20px;*/
/*        line-height: 1.2;*/
/*    }*/

/*    .text-features {*/
/*        font-weight: normal;*/
/*    }*/


/*    .card-text:last-child {*/
/*        margin-right: 0;*/
/*    }*/





/*}*/